<?xml version="1.0"?>

<launch>
      <arg name="waypoints_json" default="citynavigation" />
      <arg name="wrenches_json" default="walking" />

      <node pkg="waypoint_control" name="custom_waypoint_navigation" type="custom_waypoint_navigation.py" output="screen">
            <param name="waypoints_json" value="$(arg waypoints_json)" />
      </node>
      <node pkg="waypoint_control" name="body_wrench_script" type="body_wrench_script.py" output="screen">
            <param name="wrenches_json" value="$(arg wrenches_json)" />
      </node>

</launch>